<style>
            #divClass{ color: crimson;}
            img{width: 400px;}
            #thirdDiv{height: 600px ;width: 500px;background-color: bisque;padding: 50px;border: 20px solid darkred ; }
            #spanId{font-size: 18px;margin: 50px;}
</style>